// google font link 
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

// scss link
@import './variable';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    background-color: $Dark-cyan;
    background-image: url('/images/bg-pattern-top.svg'), url('/images/bg-pattern-bottom.svg');
    background-repeat: no-repeat;
    background-position: right 50vw bottom 40vh, left 50vw top 40vh;
    overflow: hidden;

    font-family: $primary-font;
}